.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.infoBox {
    border: 4px solid black;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    padding: 5px;
}

.infoBoxTitle {
    font-weight: bold;
    text-align: center;
    color: black;
    font-size: 1.5em;
}

button {
    font-size: 1em;
}